@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/font/Helvetica Neue/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
    url('/font/Helvetica Neue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('/font/Helvetica Neue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('/font/Helvetica Neue/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('/font/Helvetica Neue/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


body {
    margin: 0;
    position: relative;
    font-family: "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

main {
    padding-top: 64px;
}

.main__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navigation {
    padding: 10px 15px 10px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;
}

.navigation__left {
    display: grid;
    grid-template-columns: 40px 281px;
    align-items: center;
}

.navigation__search {
    display: flex;
    align-items: center;
    background-color: #F1F2F5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.navigation__search form {
    align-items: center;
}

.navigation__search input {
    border: none;
    background-color: transparent;
}


.navigation__search input:focus-visible {
    outline: none;
}

.navigation__middle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.navigation__right {
    display: grid;
    grid-template-columns: 1fr 40px 40px 40px 40px;
    align-items: center;
    justify-self: end;
    grid-column-gap: 10px;
}


.right__info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.right__info span {
    margin-left: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.right__icons {
    width: 40px;
    height: 40px;
    background-color: #E5E6EB;
    border-radius: 999px;
    display: grid;
    align-items: center;
    justify-items: center;
}

main {
    width: 100%;
    background-color: #E5E6EB;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
}

.profile-container {
    width: 100%;
    background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-header {
    max-width: 940px;
    min-width: 390px;
    height: auto;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.profile-row1 img {
    width: 100%;
}

.profile-row2 {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-column-gap: 28px;
    padding: 0 30px;
}

.profile-img {
    width: 132px;
    border-radius: 50%;
    border: 3px solid white;
    transform: translate(0, -15px);
}

.profile-img img {
    width: 100%;

}

.profile-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    align-content: center;
}

.profile-info h1 {
    margin: 0;
    font-weight: bold;
    font-size: 28px
}

.profile-info span {
    font-weight: normal;
    font-size: 17px;
    color: #66676B;
}


.profile-button {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: end;
    padding-bottom: 25px;

}

.profile-button button {
    background-color: #0572EF;
    width: calc(100% - 16px);
    height: 40px;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding-left: 6px;
    font-weight: 400;
    font-style: normal;
}


.profile-row3 {
    border-top: 1px solid #CFD0D4;
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    height: 60px;
}

.row3-section1 {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.menu-button {
    display: flex;
    align-content: center;
    justify-content: center;
}

.row3-section1 button {
    background-color: white;
    width: auto;
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #66676B;
}

/*.menu-button:hover {*/
/*    color: #0572EF;*/
/*    border-bottom: 3px solid #0572EF;*/
/*    box-sizing: border-box;*/
/*}*/

.menu-button b {


}

.menu-button:hover b {
    color: #0572EF;
}

.menu-button img {
    padding-left: 10px;
}

.row3-section2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-self: end;
    grid-column-gap: 10px;
    display: flex;
    align-items: center;
    justify-items: center;

}

.row3-section2 img {
    width: 15px;
    height: 16px;
}

.row3-section2 button {
    background-color: #E5E6EB;
    border-radius: 6px;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-size: 15px;
    padding-left: 5px;
}

.row3-section2 .type1 button {
    width: 110px;
}

.row3-section2 .type2 button {
    width: 45px;
}


.grid-wrapper {
    padding-top: 15px;
    max-width: 878px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  361px auto;
    grid-column-gap: 15px;
}

.grid-side {
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-content: start;
    grid-row-gap: 16px;
}


.side-row {
    display: flex;
    align-self: start;
    /*justify-self: start;*/
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.grid-content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 32px;
}

.content-row {
    display: grid;
    grid-row-gap: 15px;
}


.content-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}