
html {
    box-sizing: border-box;
}

*:after, *:before {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", sans-serif;
    color: #080808;
}

button {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", sans-serif;
    color: #080808;
}

input {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

main {
    padding-top: 64px;
}

.main__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 1440px;
    padding: 10px 15px 10px 15px;
    margin: 0 auto;
    align-items: center;
}

.navigation__left {
    display: grid;
    grid-template-columns: 40px 281px;
    align-items: center;
}

.navigation__search {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: #F1F2F5;
}

.navigation__search form {
    width: 100%;
    align-items: center;
}

.navigation__search input {
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}


.navigation__search input:focus-visible {
    outline: none;
}

.navigation__middle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.navigation__right {
    display: grid;
    grid-template-columns: 1fr 40px 40px 40px 40px;
    grid-column-gap: 10px;
    align-items: center;
    justify-self: end;
}


.right__info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.right__info span {
    margin-left: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.right__icons {
    display: grid;
    width: 40px;
    height: 40px;
    background-color: #E5E6EB;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: #E5E6EB;
}

.wrapper {
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100vh;*/
}

.container {

}

.profile-container {
    width: 100%;
    background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-header {
    max-width: 940px;
    min-width: 390px;
    width: 100%;
    height: max-content;

    margin: 0 auto;

}

.profile-row1 {
    display: flex;
    width: 100%;
}

.profile-row1 img {
    width: 100%;
}

.profile-row2 {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 28px;
    padding: 0 30px;
    box-sizing: border-box;
}

.profile-img {
    width: 132px;
    border-radius: 50%;
    border: 3px solid white;
    transform: translate(0, -15px);
}

.profile-img img {
    width: auto;
}

.profile-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    align-content: center;
}

.profile-info h1 {
    margin: 0;
    font-size: 28px;
    font-style: normal;
}

.profile-info span {
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: #66676B;
}


.profile-button {
    display: grid;
    padding-bottom: 25px;
    align-items: end;
    justify-items: end;
}

.profile-button img {
    width: 16px;
    height: 16px;
    transform: translate(0, -1px)
}

.profile-button button {
    display: grid;
    /*display: flex;*/
    /*grid-template-columns: auto auto ;*/
    grid-auto-flow: column;
    grid-column-gap: 6px;
    width: 100%;
    max-width: 312px;
    height: 40px;
    padding-left: 6px;
    border: none;
    border-radius: 6px;
    /*align-content: center;*/
    align-items: center;
    justify-content: center;
    /*justify-items: center;*/
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    /*line-height: 20px;*/
    color: white;
    background-color: #0572EF;
    cursor: pointer;
}


.profile-row3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    height: 60px;
    margin: 0 30px;
    border-top: 1px solid #CFD0D4;
}

.row3-section1 {
    display: grid;
    grid-template-columns: repeat(5, auto);
}


.row3-section1 button {
    display: flex;
    width: auto;
    height: 60px;
    position: relative;
    border: none;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #66676B;
    background-color: transparent;
    cursor: pointer;
}

.row3-section1 button:hover {
    color: #0572EF;
}

.masked::after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #66676B;
    -webkit-mask-image: url("../img/icons/more_gray.svg");
    mask-image: url("../img/icons/more_gray.svg");
}


/*.masked:active::after {*/
/*    content: '';*/
/*    width: 9px;*/
/*    height: 5px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 0;*/
/*    transform: rotate(180deg) translateY(50%);*/
/*    background-color: #66676B;*/
/*    -webkit-mask-image: url("../img/icons/more_gray.svg");*/
/*    mask-image: url("../img/icons/more_gray.svg");*/
/*}*/

.masked:focus::after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(180deg) translateY(50%);
    background-color: #66676B;
    -webkit-mask-image: url("../img/icons/more_gray.svg");
    mask-image: url("../img/icons/more_gray.svg");
}


.row3-section2 {
    /*display: grid;*/
    display: flex;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-auto-flow: column;
    grid-column-gap: 10px;
    justify-self: end;
    align-items: center;
    /*justify-items: center;*/

}

.row3-section2 img {
    /*width: 15px;*/
    /*height: 16px;*/
}

.row3-section2 button {
    /*display: flex;*/
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 6px;
    width: 100%;
    height: 35px;
    padding-left: 5px;
    border: none;
    /*box-sizing: content-box;*/
    border-radius: 6px;
    position: relative;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    background-color: #E5E6EB;
    cursor: pointer;

}

.row3-section2 .type1 button {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 110px;
}

.row3-section2 .type1 button::before {
    content: '';
    width: 16px;
    height: 15px;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    background-color: black;
    -webkit-mask-image: url("../img/icons/like.svg");
    mask-image: url("../img/icons/like.svg");
}

.row3-section2 .type1 button:active::before {
    content: '';
    width: 16px;
    height: 15px;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    background-color: #0572EF;
    -webkit-mask-image: url("../img/icons/like.svg");
    mask-image: url("../img/icons/like.svg");

}

.row3-section2 .type1 button:active {
    color: #0572EF;
}

.row3-section2 .type2 button {
    width: 110px;
}

.row3-section2 .type3 button {
    width: 48px;
}

.row3-section2 .type4 button {
    width: 44px;
}


.grid-wrapper {
    display: grid;
    grid-template-columns:  360px auto;
    grid-column-gap: 15px;
    max-width: 878px;
    padding-top: 15px;
    margin: 0 auto;

}

.grid-side {
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-content: start;
    grid-row-gap: 16px;
}


.side-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    /*align-self: start;*/
    /*justify-self: start;*/
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}


.side-row a {
    color: #0572EF;
}

.side-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.side-title a {
    justify-self: end;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #0572EF;
}


.map {

    border-radius: 8px;
    overflow: hidden;
}

.side-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 12px;
    grid-row-gap: 14px;
    padding-top: 18px;
    padding-bottom: 10px;
    /*align-content: center;*/
    align-items: center;
}

.side-grid img:first-child {
    align-self: start;
    transform: translateY(3px);
}

.side-like {
    align-self: start;
    transform: translateY(5px);
}

.side-check {
    transform: translateX(2px);
}

.closed {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #DE3F4F;
}

.industry {
    display: flex;
}

.dot {
    box-sizing: content-box;
    padding: 0 5px;
}


.side-row .photos {
    display: flex;
    flex-wrap:  wrap;
    width: 100%;
    /*height: 220px;*/
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;

}

.photos-img {
    width: 108px;
    height: 108px;
    object-fit: cover;
    background-color: black;
}



.photos img:nth-of-type(n){
    margin: 3px 3px 0 0;
}

.photos img:nth-of-type(n){
    margin: 3px 3px 0 0;
}

.photos img:nth-of-type(1){
    margin-top: 0;
}

.photos img:nth-of-type(2){
    margin-top: 0;
}

.photos img:nth-of-type(3){
    margin-top: 0;
}

.photos img:nth-of-type(3n){
    margin-right: 0;
}

.backcolor {
    width: 100%;
    height: 3px;
    background-color: black;
}
.grid-content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 32px;
    align-content: start;
    /*margin-top: 10px;*/
}

.content-row {
    display: grid;
    grid-row-gap: 15px;
}

.content-row b {
    text-transform: uppercase;
}

.content-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}