body {
    margin: 0;
    position: relative;
    font: 15px ‘Roboto’, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;

}

main {
    padding-top: 64px;
}

.main__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
}

.navigation {

    padding: 10px 15px 10px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;

}

.navigation__left {
    display: grid;
    grid-template-columns: 40px 281px;
    align-items: center;

}

.navigation__search {
    display: flex;
    align-items: center;
    background-color: #F1F2F5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.navigation__search form {
    align-items: center;
}

.navigation__search input {
    border: none;
    background-color: transparent;
}


.navigation__search input:focus-visible {
    outline: none;
}

.navigation__middle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.navigation__right {
    display: grid;
    grid-template-columns: 1fr 40px 40px 40px 40px;
    align-items: center;
    justify-self: end;
    grid-column-gap: 10px;
}


.right__info {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.right__info b {
    margin-left: 5px;
}

.right__icons {
    width: 40px;
    height: 40px;
    background-color: #E5E6EB;
    border-radius: 999px;
    display: grid;
    align-items: center;
    justify-items: center;
}

main {
    width: 100%;
    background-color: #E5E6EB;
    margin: 0 auto;
}


.profile-container {
    width: 100%;
    background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
}

.profile-header {
    max-width: 940px;
    min-width: 390px;
    height: auto;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.profile-row1 img {
    width: 100%;
}

.profile-row2 {
    display: grid;
    grid-template-columns: 160px auto auto ;
    padding: 0 30px;
}

.profile-img {
    width: 132px;
    border-radius: 999px;
    border-color: white;
}

.profile-img img{
    width: 100%;
}

.profile-button{
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-self: end;
    padding-bottom: 15px;

}
.profile-button button{
    background-color: #0572EF;
    width: 310px;
    height: 40px;
    border: none;
    border-radius: 6px;
}
.profile-button b{
    color: white;
    font-size: 17px;
}

.grid-wrapper {
    padding-top: 15px;
    max-width: 878px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  361px 502px;
    grid-column-gap: 15px;

}

.grid-side {
    display: grid;
    grid-row-gap: 16px;
}


.side-row {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.grid-content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 32px;
}

.content-row {
    display: grid;
    grid-row-gap: 15px;
}


.content-card {
    background-color: white;
    border-radius: 8px;
}