a {
    text-decoration: none;
}

.main__header{
    width: 100%;
}

.navigation{
    padding: 10px 15px 10px 15px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-column-gap: 15px;
}
.navigation__left{
    display: grid;
    grid-template-columns: 40px 1fr
}

.navigation__middle{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-column-gap: 5px
}
.navigation__right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 300px;

}

.navigation:nth-child(3){
    justify-content: end;
}
.right__info{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.right__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}